#newPassword {
  max-width: 100%;
  font-size: 1em;
}

.smaller-input {
    width: calc(100% - 36px); /* Adjust the width as needed */
  }

  

.css-hz1bth-MuiDialog-container{
    margin-left: 10%;
    margin-right: 10%;
}
.css-hz1bth-MuiDialog-container{
    margin-left: 10%;
    margin-right: 10%;
}