.mainwrapper {
    height: 700vh;
    background-color: rgb(53, 39, 39); 
    width: 100%;
    overflow-y: scroll;
    backdrop-filter: blur(2px); 
    /* filter: blur(2px); 
    z-index: -10; */
}

.mainwrapper-close{
    margin-left: 72px;
}
.mainwrapper-open{
    margin-left: 260px;
}
