
.table-wrapper{
  overflow-y:scroll !important;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-pumpkin);
    border-radius: 18px;
  }
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 4px;
  }
}


/* @import 'antd/dist/antd.css'; */


.ant-table-wrapper {
  background-color: transparent !important;
}

.ant-table {
  background-color: transparent !important;
  border: solid 2px wheat;
  /* overflow-x: scroll; */
  border-radius: 0 20px 0 0
  
 
}


.ant-table {
  border-collapse: collapse;; /* Set the border properties */
}


:where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>th, :where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>td, :where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
  background: transparent;
}

:where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-thead >tr>td{
  /* background-color: transparent; */
  background-color: #d45316;
}

:where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-thead >tr>td {
  color: aliceblue;
}

:where(.css-dev-only-do-not-override-i46qwz)[class^="ant-table"] [class^="ant-table"], :where(.css-dev-only-do-not-override-i46qwz)[class*=" ant-table"] [class^="ant-table"], :where(.css-dev-only-do-not-override-i46qwz)[class^="ant-table"] [class*=" ant-table"], :where(.css-dev-only-do-not-override-i46qwz)[class*=" ant-table"] [class*=" ant-table"]{
  line-height: 1px;
  white-space: nowrap;
}


/* .grid-c4{
  overflow-x: scroll;
} */

:where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-i46qwz).ant-table-wrapper .ant-table-tbody >tr >td {
  max-width: 183px;
  overflow: hidden;
}

@media screen and (max-width: 1400px){
body {
    font-size: 14px !important;
    min-width: 120px;
}
}